.portfolio {
    padding-top: 50px;
    background-color: #00779fcc;
    padding-left: 150px;
    padding-right: 150px;
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .portfolio {
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
    .portfolio {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
.portfolio-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted;
    font-size: 50px;
    text-shadow: 2px 2px black;
    color: white;
}