.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
}
.profile-item {
    background-color: black;
    width: 200px;
    display: flex;
    padding-left: 50px;
    padding-top: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #6c757d;
    
}
.profile-picture {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 200px;
    flex-basis: 200px;
    background-image: url(./../Assest/Images/profile.jpg);
    background-size: 200px 200px;
    background-repeat: no-repeat;
}
.profile-picture-text {
    width: 100%;
    margin: 0px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #00a9e180;
    color: white;
}
.profile-item-link,
.profile-item-link:visited{
    text-decoration-color: #6c757d;
}
.profile-item-link:hover {
    text-decoration-color: white;
}
.profile-item-title,
.profile-item-title:visited {
    color: #6c757d;
    margin: 0px;
    font-size: medium;
    padding-bottom: 15px;
}
.profile-item-title:hover {
    color: white;
}
.profile-item-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #6c757d;
    padding-right: 10px;
}
.profile-item-icon:hover {
    color: white;
}
.profile-social {
    flex: 1;
    width: 200px;
    display: flex;
    align-items: end;
    justify-content: space-around;
    background-color: black;
    border-right: 5px solid black;
    box-sizing: border-box;
}
.profile-social-linkedIn, 
.profile-social-instagram, {
    width: 50px;
    height: 50px;
}
.profile-icon {
    font-size: 50px;
    padding: 10px 5px;
    color: #6c757d;
}
.profile-icon:hover {
    color: white;
}
