.about {
    padding-top: 50px;
    background-color: #00779fcc;
    padding-left: 150px;
    padding-right: 150px;
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .about {
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
    .about {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
.aboutme-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted;
    font-size: 50px;
    text-shadow: 2px 2px black;
    color: white;
}
.about-concept {
    display: flex;
    color: white;
    padding-top: 30px;
}
.about-title {
    font-size: 40px;
    text-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
}
.aboutme-text {
    padding-top: 20px;
    text-align: justify;
    line-height: 25px;
}
.about-details {
    text-wrap: nowrap;
    list-style-type: none;
}
.about-details li {
    padding-bottom: 10px;
}
.about-details-title {
    text-shadow: 2px 2px 5px black;
}
.about-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    background: none;
    color: white;
    margin-left: 200px;
}
.about-button:hover {
    background-color: black;
    cursor: pointer;
}